In [12]:
import pandas as pd
from functools import reduce

In [48]:
results_folder_path = './predicted_results/'

Revenue = pd.read_csv(results_folder_path+'Predicted_Revenue.csv',index_col=0)
Propensity_CC = pd.read_csv(results_folder_path+'Propensity_Sale_CC.csv',index_col=0)
Propensity_CL = pd.read_csv(results_folder_path+'Propensity_Sale_CL.csv',index_col=0)
Propensity_MF = pd.read_csv(results_folder_path+'Propensity_Sale_MF.csv',index_col=0)

In [18]:
display(Revenue.head())
display(Propensity_CC.head())
display(Propensity_CL.head())
display(Propensity_MF.head())

   Client  Predicted_revenue
0    1217          11.283205
1    1038          11.667446
2    1219          11.169191
3     461          12.039372
4    1048          12.568632

   Client  Sale_CC  Sale_CC_probability
0    1217        1             0.804298
1    1038        0             0.239335
2    1219        0             0.171947
3     461        0             0.271093
4    1048        0             0.218232

   Client  Sale_CL  Sale_CL_probability
0    1217        1             0.636685
1    1038        0             0.210278
2    1219        1             0.665703
3     461        1             0.895381
4    1048        0             0.305996

   Client  Sale_MF  Sale_MF_probability
0    1217        0             0.307690
1    1038        1             0.790062
2    1219        0             0.434391
3     461        0             0.488026
4    1048        1             0.564904

In [49]:
Revenue = Revenue[['Client','Predicted_revenue']]
Propensity_CC = Propensity_CC[['Client','Sale_CC','Sale_CC_probability']]
Propensity_CL = Propensity_CL[['Client','Sale_CL','Sale_CL_probability']]
Propensity_MF = Propensity_MF[['Client','Sale_MF','Sale_MF_probability']]

In [50]:
dfs = [Revenue,Propensity_CC,Propensity_CL,Propensity_MF]
Client_predictions = reduce(lambda df1, df2 : pd.merge(df1,df2, on='Client', how='inner'), dfs)
Client_predictions.head()

,Client,Predicted_revenue,Sale_CC,Sale_CC_probability,Sale_CL,Sale_CL_probability,Sale_MF,Sale_MF_probability
0,1217,11.283205,1,0.804298,1,0.636685,0,0.307690
1,1038,11.667446,0,0.239335,0,0.210278,1,0.790062
2,1219,11.169191,0,0.171947,1,0.665703,0,0.434391
3,461,12.039372,0,0.271093,1,0.895381,0,0.488026
4,1048,12.568632,0,0.218232,0,0.305996,1,0.564904

In [51]:
Client_predictions['Highest_Propensity_probability'] = Client_predictions['Predicted_max_Revenue'] = Client_predictions[['Sale_CC_probability','Sale_CL_probability','Sale_MF_probability']].max(axis=1)
Client_predictions['Highest_Propensity_product'] = Client_predictions['Predicted_max_Revenue'] = Client_predictions[['Sale_CC_probability','Sale_CL_probability','Sale_MF_probability']].idxmax(axis=1)

In [52]:
Client_predictions['Highest_Propensity_product'] = Client_predictions['Highest_Propensity_product'].str.extract(r'Sale_(\w+)_')

In [53]:
Client_predictions['Predicted_max_Revenue'] = Client_predictions['Highest_Propensity_probability']*Client_predictions['Predicted_revenue']

In [56]:
Client_predictions.head()

,Client,Predicted_revenue,Sale_CC,Sale_CC_probability,Sale_CL,Sale_CL_probability,Sale_MF,Sale_MF_probability,Highest_Propensity_probability,Predicted_max_Revenue,Highest_Propensity_product
208,574,13.849549,1,0.941365,0,0.079223,1,0.670961,0.941365,13.037485,CC
44,393,15.352900,1,0.823388,0,0.314501,1,0.611272,0.823388,12.641395,CC
57,736,12.813703,0,0.123833,1,0.968429,1,0.578642,0.968429,12.409166,CL
248,1340,13.207641,1,0.557886,1,0.929699,1,0.548431,0.929699,12.279130,CL
125,149,12.289942,0,0.134844,1,0.992230,1,0.708804,0.992230,12.194454,CL

In [55]:
Client_predictions.sort_values(by=['Predicted_max_Revenue'],ascending=False,inplace=True)

In [57]:
top_100_clients = Client_predictions.head(100)

In [29]:
Client_predictions.to_csv(results_folder_path+'Maximum_predicted_revenue_per_client.csv')

In [58]:
top_100_clients.to_csv(results_folder_path+'Top_100_clients.csv')

In [59]:
def main():
    print("Selecting top 100 clients")
if __name__ == "__main__":
    main()

Selecting top 100 clients