In [1]:
import pandas as pd
from functools import reduce

In [2]:
results_folder_path = './predicted_results/'

Revenue = pd.read_csv(results_folder_path+'Predicted_Revenue.csv',index_col=0)
Propensity_CC = pd.read_csv(results_folder_path+'Propensity_Sale_CC.csv',index_col=0)
Propensity_CL = pd.read_csv(results_folder_path+'Propensity_Sale_CL.csv',index_col=0)
Propensity_MF = pd.read_csv(results_folder_path+'Propensity_Sale_MF.csv',index_col=0)

In [3]:
display(Revenue.head())
display(Propensity_CC.head())
display(Propensity_CL.head())
display(Propensity_MF.head())

,Client,ActBal_CC,TransactionsDeb,TransactionsCred,Count_MF,Sex_F,VolumeDeb_CA,ActBal_MF,TransactionsDebCashless_Card,VolumeCred_CA,VolumeDeb_PaymentOrder,ActBal_CL,VolumeCred,Sex_M,TransactionsDeb_CA,VolumeDeb,Predicted_revenue
0,1217,-0.190496,-0.946779,-0.727636,-0.173651,0,-0.108203,-0.216118,-0.676363,-0.899303,0.929591,-0.221113,-0.870508,1,-1.018349,-0.190698,11.283205
1,1038,-0.190496,-1.010282,-0.727636,-0.173651,0,-0.973017,-0.216118,-0.676363,-0.899299,-0.700439,-0.221113,-0.870505,1,-1.099640,-0.895385,11.667446
2,1219,-0.190496,-0.184737,-0.566048,-0.173651,0,-0.526868,-0.216118,-0.287513,-0.525633,-0.138323,-0.221113,-0.543142,1,-0.042862,-0.531844,11.169191
3,461,-0.190496,0.132780,-0.081284,-0.173651,1,0.952782,-0.216118,-0.287513,0.675547,0.942550,-0.221113,0.509302,0,0.363591,0.673837,12.039372
4,1048,-0.190496,-0.819772,-0.566048,-0.173651,1,-0.317704,-0.216118,-0.676363,-0.114703,-0.700439,-0.221113,-0.183133,0,-0.855768,-0.361409,12.568632

,Client,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,ActBal_CA,...,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sex_F,Sex_M,Sale_CC,Sale_CC_probability
0,1217,-0.182683,0.845548,-0.250376,-0.470764,-0.179349,-0.607332,-0.33665,-0.296246,2.890179,...,-0.618694,0.944452,-0.940391,-0.714790,-0.662251,-0.656065,0,1,1,0.804298
1,1038,-0.676075,-0.037086,-0.250376,-0.470764,-0.179349,-0.607332,-0.33665,-0.296246,-0.629706,...,-0.618694,-0.701094,-1.003284,-0.714790,-0.662251,-0.878077,0,1,0,0.239335
2,1219,-0.456790,-1.338597,-0.250376,-0.470764,-0.179349,-0.607332,-0.33665,-0.296246,2.059021,...,-0.520051,-0.133628,-0.185668,-0.082367,-0.290916,0.231982,0,1,0,0.171947
3,461,-1.333931,-0.665402,-0.250376,1.519554,-0.179349,-0.607332,-0.33665,-0.296246,-0.640434,...,1.090015,0.957534,0.128800,-0.714790,-0.290916,1.786065,1,0,0,0.271093
4,1048,1.297493,-0.560683,-0.250376,-0.470764,-0.179349,1.646545,-0.33665,-0.296246,0.356593,...,-0.618694,-0.701094,-0.814604,-0.398578,-0.662251,-0.878077,1,0,0,0.218232

,Client,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,ActBal_CA,...,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sex_F,Sex_M,Sale_CL,Sale_CL_probability
0,1217,-0.201989,0.856457,-0.261832,-0.474815,-0.234571,-0.625833,-0.347571,-0.27232,3.089319,...,-0.622229,0.855818,-0.935019,-0.706549,-0.675067,-0.677040,0,1,1,0.636685
1,1038,-0.684644,-0.013958,-0.261832,-0.474815,-0.234571,-0.625833,-0.347571,-0.27232,-0.661882,...,-0.622229,-0.717345,-0.996909,-0.706549,-0.675067,-0.889569,0,1,0,0.210278
2,1219,-0.470131,-1.297450,-0.261832,-0.474815,-0.234571,-0.625833,-0.347571,-0.27232,2.203540,...,-0.526611,-0.174840,-0.192340,-0.037081,-0.301562,0.173078,0,1,1,0.665703
3,461,-1.328183,-0.633575,-0.261832,1.611870,-0.234571,-0.625833,-0.347571,-0.27232,-0.673316,...,1.034080,0.868325,0.117109,-0.706549,-0.301562,1.660784,1,0,1,0.895381
4,1048,1.245975,-0.530305,-0.261832,-0.474815,-0.234571,1.597871,-0.347571,-0.27232,0.389233,...,-0.622229,-0.717345,-0.811239,-0.371815,-0.675067,-0.889569,1,0,0,0.305996

,Client,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,ActBal_CA,...,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sex_F,Sex_M,Sale_MF,Sale_MF_probability
0,1217,-0.151879,0.847268,-0.276266,-0.478657,-0.16359,-0.621202,-0.347571,-0.299283,3.274917,...,-0.587701,0.906674,-0.980229,-0.702096,-0.663151,-0.679950,0,1,0,0.307690
1,1038,-0.639644,-0.041540,-0.276266,-0.478657,-0.16359,-0.621202,-0.347571,-0.299283,-0.641290,...,-0.587701,-0.727652,-1.046051,-0.702096,-0.663151,-0.896858,0,1,1,0.790062
2,1219,-0.422860,-1.352156,-0.276266,-0.478657,-0.16359,-0.621202,-0.347571,-0.299283,2.350175,...,-0.489036,-0.164055,-0.190370,-0.064868,-0.266685,0.187684,0,1,0,0.434391
3,461,-1.289998,-0.674251,-0.276266,1.470995,-0.16359,-0.621202,-0.347571,-0.299283,-0.653226,...,1.121390,0.919666,0.138738,-0.702096,-0.266685,1.706044,1,0,0,0.488026
4,1048,1.311416,-0.568799,-0.276266,-0.478657,-0.16359,1.609782,-0.347571,-0.299283,0.456062,...,-0.587701,-0.727652,-0.848586,-0.383482,-0.663151,-0.896858,1,0,1,0.564904

In [4]:
Revenue = Revenue[['Client','Predicted_revenue']]
Propensity_CC = Propensity_CC[['Client','Sale_CC','Sale_CC_probability']]
Propensity_CL = Propensity_CL[['Client','Sale_CL','Sale_CL_probability']]
Propensity_MF = Propensity_MF[['Client','Sale_MF','Sale_MF_probability']]

In [5]:
dfs = [Revenue,Propensity_CC,Propensity_CL,Propensity_MF]
Client_predictions = reduce(lambda df1, df2 : pd.merge(df1,df2, on='Client', how='inner'), dfs)
Client_predictions.head()

,Client,Predicted_revenue,Sale_CC,Sale_CC_probability,Sale_CL,Sale_CL_probability,Sale_MF,Sale_MF_probability
0,1217,11.283205,1,0.804298,1,0.636685,0,0.307690
1,1038,11.667446,0,0.239335,0,0.210278,1,0.790062
2,1219,11.169191,0,0.171947,1,0.665703,0,0.434391
3,461,12.039372,0,0.271093,1,0.895381,0,0.488026
4,1048,12.568632,0,0.218232,0,0.305996,1,0.564904

In [6]:
Client_predictions['Highest_Propensity_probability'] = Client_predictions['Predicted_max_Revenue'] = Client_predictions[['Sale_CC_probability','Sale_CL_probability','Sale_MF_probability']].max(axis=1)
Client_predictions['Highest_Propensity_product'] = Client_predictions['Predicted_max_Revenue'] = Client_predictions[['Sale_CC_probability','Sale_CL_probability','Sale_MF_probability']].idxmax(axis=1)

In [7]:
Client_predictions['Highest_Propensity_product'] = Client_predictions['Highest_Propensity_product'].str.extract(r'Sale_(\w+)_')

In [8]:
Client_predictions['Predicted_max_Revenue'] = Client_predictions['Highest_Propensity_probability']*Client_predictions['Predicted_revenue']

In [9]:
Client_predictions.head()

,Client,Predicted_revenue,Sale_CC,Sale_CC_probability,Sale_CL,Sale_CL_probability,Sale_MF,Sale_MF_probability,Highest_Propensity_probability,Predicted_max_Revenue,Highest_Propensity_product
0,1217,11.283205,1,0.804298,1,0.636685,0,0.307690,0.804298,9.075057,CC
1,1038,11.667446,0,0.239335,0,0.210278,1,0.790062,0.790062,9.218001,MF
2,1219,11.169191,0,0.171947,1,0.665703,0,0.434391,0.665703,7.435363,CL
3,461,12.039372,0,0.271093,1,0.895381,0,0.488026,0.895381,10.779823,CL
4,1048,12.568632,0,0.218232,0,0.305996,1,0.564904,0.564904,7.100065,MF

In [10]:
Client_predictions.sort_values(by=['Predicted_max_Revenue'],ascending=False,inplace=True)

In [11]:
top_100_clients = Client_predictions.head(100)

In [12]:
Client_predictions.to_csv(results_folder_path+'Maximum_predicted_revenue_per_client.csv')

In [13]:
top_100_clients.to_csv(results_folder_path+'Top_100_clients.csv')

In [14]:
def main():
    print("Selecting top 100 clients")
if __name__ == "__main__":
    main()

Selecting top 100 clients

In [34]:
pip show pandas

Name: pandasNote: you may need to restart the kernel to use updated packages.

Version: 1.5.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\vivek.choudhary\appdata\local\anaconda3\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: datashader, holoviews, hvplot, seaborn, statsmodels, xarray